@model golf.stats.Models.RoundStatsViewModel
<h1>Score Card</h1>

@using(Html.BeginForm("PostStats","ScoreCard",FormMethod.Post))
{

    <table id="statsTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Hole</th>
                @for(int i =1;i<=18;i++)
                {
                    <th>@i.ToString() </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Score
                </td>
                
                @for(int i =0;i<=17;i++)
                {
                    <td>@Html.TextBoxFor(m=>m.Stats[i].Score,new{@class="statsTextBox"})</td>
                }
            </tr>
            <tr>
                <td>
                    Tee Shot Club
                </td>
                @for(int i =0;i<=17;i++)
                {
                    <td>@Html.DropDownListFor(m=>m.Stats[i].TeeShotClub,new SelectList(Enum.GetValues(typeof(GolfBag))),"Select",new{@class="statsClubDdl"}) </td>
                }
            </tr>
            <tr>
                <td>
                    Fairway in Regulation
                </td>
                @for(int i=0;i<=17;i++)
                {
                    <td> @Html.DropDownListFor(m=>m.Stats[i].FairwayInReg,new SelectList(Enum.GetValues(typeof(YesNoNa))),"Select",new{@class="yesNoDdl"}) </td>
                }
            </tr>
            
            <tr>
                <td>
                    Approach Club
                </td>
                @for(int i =0;i<=17;i++)
                {
                    <td>@Html.DropDownListFor(m=>m.Stats[i].ApproachClub,new SelectList(Enum.GetValues(typeof(GolfBag))),"Select",new{@class="statsClubDdl"}) </td>
                }
            </tr>

            <tr>
                <td>
                    Green in Regulation
                </td>
                @for(int i=0;i<=17;i++)
                {
                    <td> @Html.DropDownListFor(m=>m.Stats[i].GreenInReg,new SelectList(Enum.GetValues(typeof(YesNo))),"Select",new{@class="yesNoDdl"}) </td>
                }
            </tr>

            <tr>
                <td>
                    Scrambling
                </td>
                @for(int i=0;i<=17;i++)
                {
                    <td> @Html.DropDownListFor(m=>m.Stats[i].Scrambling,new SelectList(Enum.GetValues(typeof(YesNoNa))),"Select",new{@class="yesNoDdl"}) </td>
                }
            </tr>
            <tr>
                <td>
                    Putts
                </td>
                @for(int i=0;i<=17;i++)
                {
                    <td>@Html.TextBoxFor(m=>m.Stats[i].NumOfPutts,new{@class="statsTextBox"})</td>
                }
            </tr>
        </tbody>
    </table>

    <input type="submit">
}

@section scripts {
    <script type ="text/javascript">
        $(document).ready( function () {
            $('#statsTable').DataTable({
                "aaSorting": [],
                "paging": false,
                "searching":false,
                "columnDefs": [
                         { "searchable": false, "targets": 0 },
                         { "width": "20%", "targets": 0 }
                ]

            });
        $(".statsTextBox").css("width","50px");
        $(".statsClubDdl").css("width","50px");
        $(".yesNoDdl").css("width","50px");
       
            
        } );
        
    </script>
}
